{%extends "layout.html" %}
{% block title %}Home{% endblock %}
{% block content %} 

<div class="container">
    <form action="{{url_for('bookrequests')}}" method="post">
        <div class="mb-3 mt-3">
          <select class="form-control" name="book_id">
              <option>Select Book</option>
                {% for book in books %}
                    <option value="{{book.id}}">{{book.name}}</option>
                {% endfor %}
          </select>
        </div>
        <input type="hidden" name="user_id" value="{{session.id}}">
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>

{% endblock %}